<div class="animated" style="padding: 10px;">

  <div class="card p-3">
    <div class="row">
      <div class="col-md-4">
        <div class="clearfix form-group">
          <div class="row">
            <div class="col-md-3 pt-5px"><label>Category</label></div>
            <div class="col-md-9">
              <select [(ngModel)]="selectedCategory" (change)="loadDataForCategory()">
                <option  [ngValue]="null" disabled>Select a category</option>
                <option *ngFor="let category of categoryList" [ngValue]="category">{{category.categoryName}}</option>
              </select>
            </div>
          </div>
        </div>
        <form [formGroup]="photocopyCreateForm" (submit)="createPhotoCopy()" *ngIf="selectedCategory.code == 'PC' || selectedCategory.code == 'PO' ">
          <div class="clearfix form-group">
            <div class="row">
              <div class="col-md-3 pt-5px"><label>Sheet Size</label></div>
              <div class="col-md-9">
                <select formControlName="sheetSize">
                  <option *ngFor="let pageSize of pageSizes" [value]="pageSize.id">{{pageSize.sizeValue}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="clearfix">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9 row" style="margin: 0;padding: 0;">
                <div class="col-md-6 text-center"><label>Color</label></div>
                <div class="col-md-6 text-center"><label>Black & White</label></div>
              </div>
            </div>
          </div>

          <div class="clearfix form-group">
            <div class="row">
              <div class="col-md-3 pt-5px"><label>Single Side</label></div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rs</span>
                      </div>
                      <input type="number" formControlName="singleSideColorPrice" class="form-control text-right">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rs</span>
                      </div>
                      <input type="number" formControlName="singleSideBlackPrice" class="form-control text-right">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix form-group">
            <div class="row">
              <div class="col-md-3 pt-5px"><label>Double Side</label></div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rs</span>
                      </div>
                      <input type="number" formControlName="doubleSideColorPrice" class="form-control text-right">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Rs</span>
                      </div>
                      <input type="number" formControlName="doubleSideBlackPrice" class="form-control text-right">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix form-group text-right">
            <button  type="submit">Save</button>
          </div>

        </form>
      </div>

      <div class="col-md-8">
        <div class="row overview-div" *ngIf="savedPhotoCopies.length > 0" >
          <div class="col-md-3 form-group text-center" *ngFor="let item of savedPhotoCopies" style="padding: 5px">

            <div style="border: 1px solid #bbb">
              <span style="position: absolute;left: 15px;color: #009fa9;cursor: pointer;"><i class="fa fa-pencil"></i></span>
              <h2>{{item.pageSize.sizeValue}}</h2>

              <div class="row">
                <div class="col-md-6">
                  <h6>SS Color- </h6>
                </div>
                <div class="col-md-6">
                  <h6 class="price-view">{{item.singleSideColorPrice | currency:'Rs. '}}</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h6>DS Color-</h6>
                </div>
                <div class="col-md-6">
                  <h6 class="price-view">{{item.doubleSideColorPrice | currency:'Rs. '}}</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h6>SS B&W -</h6>
                </div>
                <div class="col-md-6">
                  <h6 class="price-view">{{item.singleSideBlackPrice | currency:'Rs. '}}</h6>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h6>DS B&W -</h6>
                </div>
                <div class="col-md-6">
                  <h6 class="price-view">{{item.doubleSideBlackPrice | currency:'Rs. '}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
