<div class="animated" style="padding: 10px;">
  <div class="card p-3">
    <h3>Selling</h3>
    <div class="row">

      <div class="col-md-4">
        <div class="clearfix form-group">
          <div class="row">
            <div class="col-md-3 pt-5px"><label>Category</label></div>
            <div class="col-md-9">
              <select>
                <option>Photocopy</option>
              </select>
            </div>
          </div>
        </div>

        <div class="clearfix form-group">
          <div class="row">
            <div class="col-md-3 pt-5px"><label>Sheet Size</label></div>
            <div class="col-md-9">
              <select>
                <option>A4</option>
                <option>A3</option>
                <option>B4</option>
              </select>
            </div>
          </div>
        </div>

        <div class="clearfix form-group">
          <div class="row">
            <div class="col-md-3 pt-5px"><label>Sides</label></div>
            <div class="col-md-9">
              <select>
                <option>Single</option>
                <option>Double</option>
              </select>
            </div>
          </div>
        </div>

        <div class="clearfix form-group">
          <div class="row">
            <div class="col-md-3 pt-5px"><label>Quantity</label></div>
            <div class="col-md-9">
              <input type="number">
            </div>
          </div>
        </div>

        <div class="form-group">
          <h3>Total</h3>
          <h3>Rs. 25,600.00</h3>
        </div>

        <div class="pull-right ">
          <button class="btn btn-success ">Done</button>
        </div>
      </div>

      <div class="col-md-8">
        <label></label>
        <div class="card p-3">
          <div class="row">
            <div class="col-md-4">Product</div>
            <div class="col-md-8">: Mobile Phone</div>
          </div>

          <div class="row">
            <div class="col-md-4">Brand</div>
            <div class="col-md-8">: Sony</div>
          </div>

          <div class="row">
            <div class="col-md-4">Model</div>
            <div class="col-md-8">: ST-2630</div>
          </div>

          <div class="row">
            <div class="col-md-4">IMEI</div>
            <div class="col-md-8">: 15551515515-22-545</div>
          </div>

          <div class="row">
            <div class="col-md-4">Selling price</div>
            <div class="col-md-8">: Rs. 25,400.00</div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
