<div class="animated" style="padding: 10px;">
  <div class="card p-3 b-radius-l">


    <div class="col-md-4" style="border-right: 1px solid #b8b8b8;">

      <div class="form-group">
        <label>Barcode</label>
        <div class="input-group">
          <input type="text" class="form-control">
          <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-barcode"></i>
          </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Brand</label>
        <select>
          <option>Bell</option>
        </select>
      </div>

      <div class="form-group">
        <label>Model</label>
        <select>
          <option>Call</option>
        </select>
      </div>

      <div class="form-group">
        <label>Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
          <span class="input-group-text">
            Rs.
          </span>
          </div>
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label>Quantity</label>
        <input type="number">
      </div>

      <div class="form-group">
        <button>Add to stock</button>
      </div>


    </div>

    <div class="col-md-6"></div>


  </div>
</div>
