<!--<router-outlet></router-outlet>-->
<div class="wrapper" style="background: #e3e3e3;">
  <nav id="sidebar" class="active">
    <div class="sidebar-header">
      <h3>E-COM</h3>
      <strong>EC</strong>
    </div>

    <ul class="list-unstyled components">
      <li class="menu-item">
        <a href="#" routerLink="/dashboard">
          <i class="fa fa-bar-chart"></i>
          &nbsp;&nbsp; Dashboard
        </a>
        <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">-->
        <!--<i class="fa fa-address-book"></i>-->
        <!--&nbsp;&nbsp; Pages-->
        <!--</a>-->
        <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
        <!--<li><a href="#">Page 1</a></li>-->
        <!--<li><a href="#">Page 2</a></li>-->
        <!--<li><a href="#">Page 3</a></li>-->
        <!--</ul>-->
      </li>
      <li class="menu-item">
        <a href="#" routerLink="/selling/photo-copy">
          <i class="fa fa-shopping-cart"></i>
          &nbsp;&nbsp; Selling
        </a>
      </li>

      <li class="menu-item">
        <a href="#" routerLink="/report/photo-copy">
          <i class="fa fa-file"></i>
          &nbsp;&nbsp; Report
        </a>
      </li>

      <li class="menu-item">
        <a href="#" routerLink="/product-setting">
          <i class="fa fa-sliders"></i>
          &nbsp;&nbsp; Stationary
        </a>
      </li>

      <li class="menu-item">
        <a href="#" routerLink="/stock/mobile">
          <i class="fa fa-wrench"></i>
          &nbsp;&nbsp; Stock Add
        </a>
      </li>
    </ul>

  </nav>

  <div id="content">
    <div style="background: #ffffff;padding: 5px;">
      <div  style="padding: 5px;" >
        <div class="col-md-1 d-inline">
          <i id="sidebarCollapse" class="fa fa-bars" style="border-right: 1px solid #a6a6a6;padding-right: 10px;cursor: pointer"></i>
        </div>

        <div class="col-md-11 d-inline text-right">
          Today : {{currentDate}}
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
