<div class="animated" style="padding: 10px;">
  <div class="card p-3 b-radius-l">


    <div class="col-md-4" style="border-right: 1px solid #b8b8b8;">
      <div class="form-group">
        <label>Company</label>
        <select>
          <option>Dialog</option>
          <option>Mobitel</option>
          <option>Airtel</option>
          <option>Etisalat</option>
          <option>SLT</option>
          <option>Bell</option>
        </select>
      </div>

      <div class="form-group">
        <label>Card Type</label>
        <select>
          <option>Data</option>
          <option>Call</option>
        </select>
      </div>

      <div class="form-group">
        <label>Value</label>
        <select>
          <option>50</option>
          <option>100</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quantity</label>
        <input type="number">
      </div>

      <div class="form-group">
        <button>Add to stock</button>
      </div>


    </div>

    <div class="col-md-6"></div>


  </div>
</div>
