/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900&subset=latin-ext');
@import "assets/css/common-color";

body {
  background-image: url("assets/images/body-bgs/body-bg.jpg");
  /*font-family: 'News Cycle', sans-serif !important;*/
  font-family: 'Barlow Condensed', sans-serif !important;
}

input[type=text], input[type=password] ,input[type=number] , select {
  border-radius: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

button {
  height: 40px;
  min-width: 150px;
  cursor: pointer;
}

.input-group-text {
  border-radius: 0px !important;
}

.pt-5px {
  padding-top: 5px;
}

.overview-div{
  height: 460px !important;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #bbb !important;
}

.price-view {
  text-align: right;
  padding-right: 10px;
}

.tab-pane-buttons.active {
  color: #ffffff !important;
  background-color: #153435 !important;
  border-color: #153435 #153435 #153435 !important;
}

.tab-pane-buttons {
  color: #ffffff !important;
  background-color: #235557 !important;
  border-color: #235557 #235557 #235557 !important;
  border-radius: 0 !important;
}

.b-radius-l {
  border-top-left-radius: 0 !important;
}

#selling-tab{
  padding-left: 1px !important;
}

th {
  font-weight: 400;
}

.table-header {
  background: #153435;
  color: #fff;
}

.table th, .table td{
  padding: 5px !important;
}

.pricing-view {
  background: rgba(21, 52, 53, 0.62);
  padding: 10px;
  color: #fff;
  border-radius: 2px;
}

.mob-price {
  background: #5b7dbd;
  border-radius: 2px;
  color: #fff;
  padding: 10px 5px 10px 15px;
}

.let-wod-space {
  letter-spacing: 1px;
  word-spacing: 2px;
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 1024px !important;
  }
}
