/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900&subset=latin-ext');

body {
  background-image: url("assets/images/body-bgs/body-bg.jpg");
  /*font-family: 'News Cycle', sans-serif !important;*/
  font-family: 'Barlow Condensed', sans-serif !important;
}

input[type=text], input[type=password] ,input[type=number] , select {
  border-radius: 0;
  height: 40px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

button {
  height: 40px;
  min-width: 150px;
  cursor: pointer;
}

.input-group-text {
  border-radius: 0px !important;
}

.pt-5px {
  padding-top: 5px;
}
